/* Styling for the first section */
.container1{
    background-image: url(/assets/h_img.jpg);
    background-position: center;
    background-size: contain;
    height: 100vh;
    color: white;
    align-items: center;

}

.container1 h1,h4{
    text-align: center;
padding-top: 90px;
}
.image{
    display: flex;
    justify-content: center;
}
image2{
    margin-top: 60px;
}
/* ABOUT US SECTION */
.aboutus{
    text-align: center;
    height: 100vh;
}
/* SERVICES SECTION */
.bg-image{
    background-image: url(/assets/s_image.jpg);
    height: 100vh;
    color: white;
    background-position: center;
    background-size: cover;
    text-align: center;
}
/* WHAT WE DO */
.whatwedo{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 100vh;
}
.whatwedo h3{
    text-align: center;
}
.whatwedo img{
    size: auto;
}
.entirewhat h3{
    text-align: center;
}
