/* Styling for the first section */
.container1{
    background-image: url(/assets/h_img.jpg);
    -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
    align-items: center;
    padding-top: 200px;

}

.container1 h1{
    text-align: center;
padding-top: 90px;
}
.container1 p{
    padding-bottom: 200px;
    text-align: center;
}
.image{
    display: flex;
    justify-content: center;
}
image2{
    margin-top: 60px;
}
/* ABOUT US SECTION */
.aboutus{
    text-align: center;
    height: 100%;
    margin-bottom: 50px;
}
.aboutus h2{
    margin-top: 40px;
}
/* SERVICES SECTION */
.bg-image{
    background-image: url(/assets/s_image.jpg);
    -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
    height: 100vh;
    color: white;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
}
#services h5{
    padding-top: 280px;
}
/* WHAT WE DO */
.whatwedo{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 100%;
}
.whatwedo img{
    width: 100%;
    height: 15vw;
    object-fit: scale-down;
}
.card p{
 font-size: small;   
}

.entirewhat h3{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    /* border: 2px solid black; */
}

/* Portfolio */
.portfolio{
    height: 100%;
    padding-bottom: 38px;
}
.firstfour{
    display: flex;
    justify-content: center
    ;
}
.firstfour img{
    /* height: 150px; */
    object-fit: scale-down;
    height: 15vw;
    padding-right: 15px;
}
.secondfour{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.secondfour img{
    /* height: 164px; */
    object-fit: scale-down;
    height: 15vw;
    padding-right: 17px;
}
.image4{
    background-image: url(/assets/work8.jpg);
    background-size: 400px;
    background-position: center;
    color: white;
    font-weight: bolder;
    object-fit: scale-down;
    width: 18vw;
}
/* contact us */
.contactus{
    background-image: url(/assets/c_image.jpg);
    height: 100%;
    background-position: center;
    background-size: contain;
    color: white;
    text-align: center;
}
.form-group input{
    margin-bottom: 20px;
    background-color: inherit;
    color: white;
    padding: 0 60px 0 100px;
}
.form-group textarea{
    background-color: inherit;
    color: white;
    padding-bottom: 60px;
    margin-right: -80px;
}
.firstpart{
    display: flex;
    justify-content: space-evenly;
}
.contactus form{
height: 100%;
}
.contactus h3{
    padding-top: 40px;
    margin-bottom: 30px;
    
}
